<ion-view cache-view="false" title="Remedies">

<!--<ion-header>
    <ion-nav-bar class="bar bar-header bar-positive">
    </ion-nav-bar>
</ion-header>-->
<ion-content class="userParentCls has-header">
<user-logo></user-logo>
<div class="list list-inset">
    <div class="item item-divider">Home Remedies</div>
    <div class="item pointerCls" ng-repeat="remedy in user.remedies|limitTo:3" ui-sref="remedy-detail({selectedRemedy:remedy.id})">
    <ion-thumbnail item-left>
      <img src={{remedy.src}} height="25" width="30">
    </ion-thumbnail>
     {{remedy.title}}
    </div>    
    <a class="item item-icon-right text-decoration" ui-sref="remedy-list"> <i class="icon ion-chevron-right "></i>
    View More
    </a>    
</div>
<div class="list list-inset">
    <div class="item item-divider">Disease and their cures</div>
    <div class="item pointerCls" ng-repeat="disease in user.diseases|limitTo:3"  ui-sref="disease-detail({selectedDisease:disease.id})">
    <ion-thumbnail item-left>
      <img src={{disease.src}} height="25" width="30">
    </ion-thumbnail>
     {{disease.title}}
    </div>    
    <a class="item item-icon-right text-decoration" ui-sref="disease-list"> <i class="icon ion-chevron-right "></i>
    View More
    </a>    
</div>
<div class="list list-inset">
    <div class="item item-divider">Yoga and Health Tips</div>
    <div class="item" ng-repeat="video in user.videos |limitTo:3">
     <div class="row responsive-sm">
        <div class="col col-50 center"> 
        <iframe ng-src={{video.url}} frameborder="0" allowfullscreen></iframe>
        </div>    
         <div class="col col-50 center"><p class="wrapText">{{video.title}}</p></div>  
     </div>
    </div>
     <a class="item item-icon-right text-decoration" ui-sref="user-detail({category:'video'})"> <i class="icon ion-chevron-right "></i>
    View More
    </a>    
</div>
<div class="list list-inset">
    <div class="item item-divider">Quotes</div>
    <div class="item wrapText" ng-repeat="quote in user.quotes|limitTo:3" >
     {{quote.text}}
    </div>    
       <a class="item item-icon-right text-decoration" ui-sref="user-detail({category:'quote'})"> <i class="icon ion-chevron-right "></i>
    View More
    </a> 
</div>
</ion-content>
</ion-view>