<ion-view >
<ion-header>
    <ion-nav-bar class="bar bar-header bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-title>Remedies</ion-title>
      </ion-nav-bar>
</ion-header>
<ion-content>
<div class="item item-input" ng-if="category =='video'">
<i class="icon ion-search placeholder-icon"></i>
  <input type="text" ng-model="obj.searchTxt.title">
<div ng-click="clearText()"> <i class="icon ion-close"></i></div>
</div>
<div class="list list-inset" ng-if="category =='quote'">
  <div class="item item-divider">Quotes</div>
    <div class="item wrapText" ng-repeat="quote in user.quotes">
     {{quote.text}}<br>{{quote.link}}
    </div>    
</div>
<div class="list list-inset" ng-if="category =='video'">
   <div class="item item-divider">Yoga and Health Tips</div>
    <div class="item" ng-repeat="video in user.videos | filter:obj.searchTxt">
     <div class="row responsive-sm">
        <div class="col col-50 center">
       <iframe ng-src={{video.url}} frameborder="0" allowfullscreen></iframe>
        </div>    
         <div class="col col-50 center"><p class="wrapText">{{video.title}}</p></div>  
     </div>
    </div> 
</div>
</ion-content>
</ion-view>