<ion-view title="Home">
<ion-nav-buttons side="right">
      <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
          </label>
          <button class="button button-clear">
            Cancel
          </button>
      </div>
       <button class="button button-icon icon" ng-click="openPopover($event)">:</button>
</ion-nav-buttons>
<ion-content class="userParentCls">
<user-logo></user-logo>
<!--<div class="list list-inset">
    <div class="item item-divider">Events</div>
    <div class="item" ng-repeat="event in user.events|limitTo:3">
     {{event.date}}<br>{{event.place}}
    </div>    
    <div class="item">
     <a ui-sref="user-detail({ category: 'event' })">View More</a>
    </div> 
</div>-->
<div class="list list-inset">
    <div class="item item-divider">Quotes</div>
    <div class="item" ng-repeat="quote in user.quotes|limitTo:3">
     {{quote.text}}
    </div>    
     <a ui-sref="user-detail({ category: 'quote' })">View More</a>
    
</div>
<!--<div class="list list-inset">
    <div class="item item-divider">Tweets</div>
    <div class="item" ng-repeat="quote in user.quotes|limitTo:3">
     <div>{{quote.text}}<br>{{quote.link}}</div>
    <div class="item">
     <div class="row">
        <div class="col col-50"></div>
        <div class="col col-25">
                <button class="button button-balanced">
                        Follow
                </button>
        </div>
        <div class="col col-25">
                <button class="button button-balanced">
                        Retweet
                </button>
        </div>

     </div>
    </div>  
    </div>  
    <div class="item">
     <a href="#">View More</a>
    </div> 
</div>
<div class="list list-inset">
    <div class="item item-divider">Facebook</div>
    <div class="item" ng-repeat="quote in user.quotes|limitTo:3">
     <div>{{quote.text}}<br>{{quote.link}}</div>
     <div class="row">
        <div class="col col-50"></div>
        <div class="col col-25">
                <button class="button button-balanced">
                        Like
                </button>
        </div>
        <div class="col col-25">
                <button class="button button-balanced">
                        Share
                </button>
        </div>

     </div>
    </div>    
    <div class="item">
     <a href="#">View More</a>
    </div> 
</div>-->
<div class="list list-inset">
    <div class="item item-divider">Yoga and Health Tips</div>
    <div class="item" ng-repeat="video in user.videos |limitTo:3">
     <div class="row responsive-sm">
        <div class="col col-50"> 
        <iframe ng-src={{video.url}} frameborder="0" allowfullscreen></iframe>
      <!--   <iframe ng-src="{{trustSrc(video.url)}}" frameborder="0"   > </iframe>-->
           <!-- <video controls="controls" preload="metadata" autocontrols webkit-playsinline="webkit-playsinline" class="videoPlayer"><source ng-src="{{trustSrc(video.url)}}" type="video/mp4"/>
            </video>-->
        </div>    
         <div class="col col-50"><p class="wrapText">{{video.title}}</p></div>  
     </div>
    </div>
    <div class="item">
    <a ui-sref="user-detail({category:'video'})">View More</a>
    </div> 
</div>
</ion-content>
</ion-view>